html {
  background-color: #ce4177;
}

.headname {
  color: #fff;
  text-align: center;
  width: 100%;
  background-color: #fd5294;
  padding: 20% 0;
}

.itemcontainer {
  display: flex;
  justify-content: center;
  gap: 3%;
}

ul {
  list-style: none;
  padding: 0 0;
  color: #fff;
  font-family: 'Lato', sans-serif;
  max-width: 100%;
  background-color: #dd4883;
}

ul > li {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.backBtn {
  width: 10%;
  background-color: transparent;
  border: none;
  position: absolute;
  left: -1%;
  top: 7%;
}

.headrmain {
  color: #fff;
  font-size: 0.5em;
  padding-left: 2%;
  padding-bottom: 10%;
  background-color: #df4783;
}

table {
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  table-layout: fixed;
}

td {
  text-indent: 10px;
  word-break: break-all;
}

tr:nth-child(even) {
  background-color: #fd5294;
}

@media (min-width: 576px) {
  ul {
    width: 100%;
    background-color: #df4783;
    padding-bottom: 11.2%;
  }

  td {
    text-indent: 40px;
  }

  table {
    font-size: 1.1em;
  }

  .uldetails > li {
    width: 60%;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 0 0;
  }

  .headname {
    margin-bottom: 5%;
    padding: 0.6em 1em;
  }

  .headrmain {
    color: #fff;
    font-size: 0.5em;
    padding-left: 20%;
    padding-bottom: 5%;
    background-color: #df4783;
  }
}
