.filterinput {
  border-radius: 1.5em;
  width: 85%;
  max-width: 100%;
  outline: none;
  border: none;
  margin: 18% 7%;
  padding: 0.6em 1em;
}

.FilterInputcontainer {
  background-color: #fd5294;
}

@media (min-width: 576px) {
  .filterinput {
    margin: 5% 7%;
    padding: 0.6em 1em;
  }
}
